* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}


img {
  height: 200px;     identifier expected
  width: 200px;
}
.img-start {
   border: 2px solid hotpink;
}

img-master {
  border: 3px dashed yellow;
}

.relative {
  margin left: 35px;
  background: lightblue;
  width: 500px;
  height: 500px;
  }

.absolute {
  background: plum;
  width: 100px;
  height: 100px;
}
